@import '../../../../../App.scss';

.wrapperInput {
    position: relative;

    .wrapperLabel {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .question {
            position: relative;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 1px solid $prime_5;
            background-color: $prime_1;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .questionSearch {
            margin-right: 20px;
        }

        // остальные параметры подсказки выше уровнем 
    }


    .input {
        width: 100%;
        height: 43px;
        border-radius: 5px;
        border: 1px solid $prime_5;
        margin: 15px 0 6px;
        padding: 1px 32px 1px 2px;
        font-size: 16px;
    }

    .inputSearch {
        width: 242px;
        padding: 1px 10px;
        margin: 20px 0 6px;
        box-shadow: 0 0 20px rgba(0, 0, 0, .05);
    }

    .inputSearch::-webkit-input-placeholder,.inputSearch:-ms-input-placeholder, .inputSearch::-moz-placeholder, .inputSearch::-moz-placeholder {
        color: $prime_4;
        font-size: 14px;
        text-align: center;
    }
    
    // .inputSearch:-ms-input-placeholder { 
    //     color: $prime_4;
    //     font-size: 14px;
    //     text-align: center;
    // }
    
    // .inputSearch::-moz-placeholder { 
    //     color: $prime_4;
    //     font-size: 14px;
    //     text-align: center;
    // }
    
    // .inputSearch:-moz-placeholder { 
    //     color: $prime_4;
    //     font-size: 14px;
    //     text-align: center;
    // }

    .inputDate {
        width: 176px;
        padding: 1px 10px;
    }

    .inputDate:first-of-type {
        margin-right: 20px;
    }

    .inputInvalid {
        box-shadow: 0 0 10px rgba(255, 89, 89, .3);
        border: 1px solid rgb(255, 89, 89);
    }
    
    // .input:focus:invalid {
    //     // border: 1px solid #C7C7C7;
    //     box-shadow: none;
    // }


    .eye {
        height: 28px;
        position: absolute;
        top: 40px;
        left: calc(100% - 31px);
    }
}

.wrapperInputSearch {
    margin-top: 7px;
}

.wrapperInputSearch:first-of-type {
    margin-top: 0;
}


@media screen and (max-width: 600px) {
    .wrapperInput {
        .inputSearch {
            width: 335px;
        }

        .inputDate {
            width: 335px;
        }
    }
}


