@import '../../../../App.scss';


.formSearch {
    display: flex;
    width: 872px;
    margin: 0 0 64px;
    color: #000;
    font-size: 18px;
    padding: 29px 39px 32px 39px;

    .formLeft {
        width: 374px;
        min-width: 374px;
        margin-right: 15px;
    }

    .formRight {
        width: 406px;
        min-width: 406px;

        .wrapperButton {
            width: 305px;
            display: block;
            margin: 50px 0 0 auto;
        }

        .errorReq {
            height: 37px;
            text-align: center;
            color: rgb(255, 89, 89);
            font-size: 16px;
        }
    }

    .footnote {
        font-size: 14px;
        color: $prime_4;
    }
}

@media screen and (max-width: 1400px) {
    .formSearch {
        width: 100%;
        margin: 0 auto;
        justify-content: center;

        .formLeft {
            margin-right: 60px;
        }
    }
}

@media screen and (max-width: 1020px) {
    .formSearch {
        flex-direction: column;

        .formLeft {
            min-width: 100%;
            width: 100%;
            margin: 0;
        }

        .formRight {
            min-width: 100%;
            width: 100%;

            .wrapperButton {
                margin: 0 0 0 auto;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .formSearch {
        padding: 29px 20px 32px 20px;

        .formRight {
            .wrapperButton {
                margin: 0 auto;
                width: 100%;
            }
        }
    }
}